#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC  &kp 1    &kp 2    &kp 3    &kp 4    &kp 5
                &kp TAB  &kp Q    &kp W    &kp E    &kp R    &kp T
                &kp LSHFT &kp A    &kp S    &kp D    &kp F    &kp G
                &kp LCTRL &kp Z    &kp X    &kp C    &kp V    &kp B
                &kp LALT  &kp NO    &kp NO    &kp SPC  &kp NO    &kp NO
            >;
        };
    };
};
